//-text p?
//- дата как переменная, обойдутся
include ../like-button/like-button
include ../avatar/avatar
mixin feedback({src, name, date, text})
    .feedback
        .feedback__avatar
            +avatar({srcImg:src})
        .feedback__like    
            +like-button({count:"12", isClicked:true})   
        span.feedback__name=name
        span.feedback__date=date
        .feedback__text=text