//- pin__ul??
//-цикл
include ../icon-button/icon-button
mixin pin
    ul.pin 
        li.pin__item
            +icon-button({symbol:"insert_emoticon", variant:"gradient", size:"xl"})
            .pin__item-inner
                span.pin__item-title="Комфорт" 
                span.pin__item-text="Шумоподавляющие стены"

