.color-palette {
	display: flex;
	padding-top: 20px;
	&:first-child {
		padding-top: 0px;
	}
}

.swatch {
	width: 70px;
	height: 70px;
	border-radius: 6px;
	margin-right: 40px;
}
.dark100{
	background-color: $dark100;
}
.dark75{
	background-color: $dark75;
}
.dark50{
	background-color: $dark50;
}
.dark25{
	background-color: $dark25;
}
.dark5{
	background-color: $dark5;
}
.purple{
	background-color: $purple;
}
.green{
	background-color: $green;
}
.caption-swatch {
	align-self: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.name-color {
	@extend .H2;
}
.value-color {
	@extend .H2;
	font-weight: 400;
}
