@import "../../../element/color-palette/color-palette.scss";
@import "../../../element/typography/type-title.scss";
.logo {
	position: absolute;
	top: 30px;
	left: 30px;
}
.wrap {
	margin-left: 150px;
	margin-top: 145px;
	display: flex;
	justify-content: space-between;
}
