.title {
	display: flex;
	width: 428px;
	align-items: top;
	padding-top: 51px;
	&:first-child {
		padding-top: 0px;
	}
}
.tag {
	font-weight: 400;
	width: 37px;
	color: $dark25;
	margin-right: 30px;
	text-align: right;
}
