include ../icon-button/icon-button
mixin button({variant, text, isDisabled, type="submit"})
    -
        let buttonClass = 'button'
        let variantButton = ['primary','secondary','with-arrow','only-text']

        if (variantButton.includes(variant)) { buttonClass+= ` button__${variant}` }
        if(isDisabled){buttonClass+=' button_disabled'}

    button(class=buttonClass type=type)
        span.button__text=text
        if(variant ==='with-arrow')
            .button__icon
                +icon-button({symbol:"arrow_forward", variant:"white"})
