include ../icon-button/icon-button
mixin button({type, text, isDisabled})
    -
        let buttonClass = 'button'
        let typeButton = ['primary','secondary','with-arrow','only-text']

        if (typeButton.includes(type)) { buttonClass+= ` button__${type}` }
        if(isDisabled){buttonClass+=' button_disabled'}

    button(class=buttonClass type="submit")
        span.button__text=text
        if(type ==='with-arrow')
            .button__icon
                +icon-button({symbol:"arrow_forward", variant:"white"})
