//- title, state for label
//-пути в переменные??
mixin text-field ({title, state, id, type, name, placeholder})
    .text-field
        include ../label/label
            input.text-field__input(
                type=type
                id=id
                name=name
                placeholder=placeholder
    )



