@import "../form-elements-input.scss";
.text-field {
    width: 100%;
    position: relative;
}

.input__defoult {
    padding-left: 13px;
    border: 1px solid $dark25;
    border-radius: 4px;
    width: 100%;
    height: 44px;
    @extend body;
}

::placeholder {
    color: $dark25;
}

.input__defoult:focus,
.input__defoult:hover {
    border: 1px solid $dark50;
    outline: none;
    &::placeholder {
        color: $dark75;
    }
}

.input__focus {
    border: 1px solid $dark50;
    outline: none;
    &::placeholder {
        color: $dark75;
    }
}

.input__subscription {
    position: relative;
}

.input__button {
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 44px;
    height: 44px;
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $purple;
    @include icon_button("\e5c8");
}
