//-кнопке сделать кнопку
//-придумать че нить с ифами
include ../icon-button/icon-button
include ../checkbox/checkbox
mixin list({text, isExpand, type, items=[], isOpen}) 
    -
        let dataExpand = isExpand ? "true" : ""
        let dataOpen = isOpen ? "true" : "false"
        let itemClass="list__content-item"
        if (type===("bullet")) { itemClass+= ` list__content-item_bullet` }

    .list(data-expand = dataExpand)
        .list__label 
            .list__label-text=text
            if(isExpand)
                button.list__expand-button(type="button")
                    +icon-button({symbol:"expand_more",variant:"gray"})
        ul.list__content(data-open=dataOpen)
            each item in items
                li(class=itemClass)
                    if (type==="checkbox")
                        +checkbox({name:"checkbox", text: item})
                    if (type==="richCheckbox")
                        +checkbox({name:"checkbox", text: item.text, title: item.title})    