//-прописать весь сброс для кнопок?
.list__label {
    display: flex;
    @extend .H3;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}
.list__content-item_bullet:before {
    content: "";
    width: 10px;
    height: 10px;
    background: $dark25;
    display: inline-block;
    border-radius: 10px;
    margin-right: 10.43px;
}
