// стили???? title вынести отдельно
.checkbox__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox__inner {
    display: flex;
}
.checkbox__title {
    font-family: $monsterrat-bold;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: $dark75;
    margin-bottom: 5px;
}
.checkbox__text {
    line-height: 18px;
    color: $dark50;
    max-width: 192px;
}

.checkbox__input + .checkbox__inner {
    position: relative;
    cursor: pointer;
    display: inline-flex;
}

.checkbox__input + .checkbox__inner:before {
    content: " ";
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: white;
    border: $border-gray;
    border-radius: 4px;
}

.checkbox__input:checked + .checkbox__inner:before {
    border: $border-purple;
}

// галка
.checkbox__input:checked + .checkbox__inner:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 8px;
    left: 6px;
    top: 4px;
    border: solid transparent;
    border-width: 0 2px 2px 0;
    border-image: $primary-gradient;
    border-image-slice: 1;
    transform: rotate(45deg);
}
