$monsterrat-regular: "Conv_Montserrat-Regular";
$monsterrat-bold: "Conv_Montserrat-Bold";
$brand: "Conv_fa-brands-400";
$icon:  "Conv_MaterialIcons-Regular";

@font-face {
  font-family: "Conv_Montserrat-Regular";
  src: local("☺"), url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_Montserrat-Bold";
  src: local("☺"), url("../fonts/Montserrat-Bold.woff") format("woff"),
    url("../fonts/Montserrat-Bold.ttf") format("truetype"),
    url("../fonts/Montserrat-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_MaterialIcons-Regular";
  src: local("☺"), url("../fonts/MaterialIcons-Regular.woff") format("woff"),
    url("../fonts/MaterialIcons-Regular.ttf") format("truetype"),
    url("../fonts/MaterialIcons-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Conv_fa-brands-400";
  src: local("☺"), url("../fonts/fa-brands-400.woff") format("woff"),
    url("../fonts/fa-brands-400.ttf") format("truetype"),
    url("../fonts/fa-brands-400.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

