.like-button {
    display: flex;
    width: 40px;
    height: 20px;
    color: $dark25;
    border: $border-gray;
    border-radius: 10px;
    background: white;
    font-size: 10px;
}

.like-button__count {
    margin-top: 3px;
}
.like-button__symbol {
    @extend .material-icons;
    font-size: 10px;
    line-height: 8.5px;
    width: 20px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.like-button_clicked {
    color: $purple;
    border: $border-purple;
}
