mixin like-button({count, isClicked})
    -
        let buttonClass = isClicked ? "like-button like-button_clicked" : "like-button"

    button(class=buttonClass type="submit")
        .like-button__symbol=symbol
        span.like-button__count=count
