include ../../../element/form-elements/text-field/text-field
include ../../../element/form-elements/dropdown/dropdown
html
    head 
    body 
        .logo
            include ../../../icon/logo

        .wrap_form_element
            +text-field({title:"text field", state:"default", id:"email", type:"email", name:"email", placeholder:"Email"})
            +text-field({title:"text field", state:"Hover / Focus", id:"focus", placeholder:"This is pretty awesome", isFocus:true})
            +text-field({title:"subscription", id:"subscription", placeholder:"Email", withButton:true})
            +dropdown({title:"subscription", id:"subscription", placeholder:"Email"})

