include ../../../element/form-elements/text-field/text-field
include ../../../element/form-elements/text-field/text-field-focus
include ../../../element/form-elements/text-field/text-field-subscription
html
    head 
    body 
        .logo
            include ../../../icon/logo

        .wrap_form_element
            +text-field({title:"text field", state:"default", id:"email", type:"email", name:"email", placeholder:"Email"})
            +text-field-focus({title:"text ", state:"Hover/Focus", id:"focus", type:"text", name:"text", placeholder:"This is pretty awersome"})
            +text-field-subscription({title:"text ", state:"Hover/Focus", id:"focus", type:"text", name:"text", placeholder:"This is pretty awersome"})