@import "../../../components/index.scss";
.form-elements__content {
    display: flex;
    margin-top: 143px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 131px;
    flex-wrap: wrap;
    max-width: 1160px;
}

.form-elements__inputs {
    width: 320px;
    margin-bottom: 100px;
    margin-right: 126px;
}

.inputs__input-focus {
    margin-top: 20.44px;
}
.inputs__dropdown {
    margin-top: 20px;
}
.inputs__input-mask {
    margin-top: 22.56px;
}
.inputs__dropdowns-date {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.inputs__dropdown-date {
    width: 150px;
}
.inputs__filter-date {
    width: 266px;
    margin-top: 40.56px;
}
.inputs__input-send {
    width: 266px;
    margin-top: 41px;
}

.form-elements__switches {
    margin-right: 133px;
    width: 260px;
}
.switches__chekboxs-inner {
    display: flex;
    flex-direction: column;
    gap: 10.56px;
}
.switches__chekboxs-title {
    @extend .H3;
    margin-bottom: 6.56px;
}
.switches__radio-buttons-inner {
    margin-top: 40.88px;
}
.switches__radio-buttons-title {
    @extend .H3;
}
.swiches__radio-buttons {
    display: inline-flex;
    margin-top: 16px;
}
.switches__radio-button_active {
    margin-right: 20px;
}
.switches__toggles-inner {
    margin-top: 40.56px;
}
.switches__toggles-title {
    @extend .H3;
}
.switches__toggle_active {
    margin-top: 16px;
}
.switches__toggle {
    margin-top: 14px;
}
.switches__like-buttons-inner {
    margin-top: 44.44px;
}
.switches__like-buttons-title {
    @extend .H3;
}
.switches__like-buttons {
    display: inline-flex;
    margin-top: 16px;
}
.switches__like-button_active {
    margin-left: 10px;
}
.switches__rate-buttons-inner {
    margin-top: 40px;
}
.switches__rate-buttons-title {
    @extend .H3;
}
.switches__rate-buttons {
    margin-top: 16px;
    display: inline-flex;
}
.switches__rate-button-disabled {
    margin-right: 20px;
}

.form-elements__buttons {
    width: 320px;
}

.buttons__slider {
    width: 266px;
}
.buttons__buttons-inner {
    margin-top: 43.56px;
}
.buttons__buttons-title {
    @extend .H3;
}
.buttons__buttons-primary-inner {
    margin-top: 16px;
    display: inline-flex;
}
.buttons__button-primary {
    margin-right: 19px;
}
.buttons__buttons-secondary-inner {
    margin-top: 30px;
    display: inline-flex;
}
.buttons__button-secondary {
    margin-right: 20px;
}
.buttons__buttons-only-text-inner {
    margin-top: 31px;
    display: inline-flex;
}
.buttons__button-only-text {
    margin-right: 20px;
}
.buttons__button-with-arrow {
    margin-top: 30px;
}
.buttons__pagination {
    margin-top: 40px;
}
.buttons__pagination-title {
    @extend .H3;
    margin-bottom: 16.44px;
}

.form-elements__dropdowns-rooms-parameters {
    width: 266px;
    margin-right: 180px;
}

.dropdowns-rooms-parameters__dropdown-room-parameters_closed {
    margin-bottom: 20px;
}
.form-elements__dropdown-guests_empty {
    width: 320px;
    margin-right: 72px;
}
.form-elements__dropdown-guests_fill-up {
    width: 320px;
}
.form-elements__checkbox-lists {
    width: 266px;
    margin-top: 40.44px;
    margin-right: 180px;
}
.checkbox-lists__checkbox-list__opened {
    margin-top: 20px;
}
.form-elements__rich-checkbox-list {
    width: 320px;
    margin-top: 40.44px;
    margin-right: 72px;
}
.form-elements__bullet-list {
    width: 320px;
    margin-top: 40.44px;
}
.form-elements__pins {
    width: 291px;
    margin-top: 105px;
    margin-right: 156px;
}
.form-elements__feedback {
    margin-top: 105px;
    width: 711px;
}
