include ../../../components/index 
html
    head 
    body 
        .logo
            include ../../../icons/logo

        .wrap_form_element
            +text-field({title:"text field", state:"default", id:"email", type:"email", name:"email", placeholder:"Email"})
            +text-field({title:"text field", state:"Hover / Focus", id:"focus", placeholder:"This is pretty awesome", variant: "focused"})
            +text-field({title:"subscription", id:"subscription", placeholder:"Email", withButton:true, variant: "subscription"})
            +dropdown({title:"subscription", id:"subscription", placeholder:"Email"})

            +button({text: "click me", type:"primary"})
            +button({text: "click me", type:"secondary"})
            +button({text:"перейти к оплате", type:"with-arrow"})
            +button({text: "click me", type:"only-text"})
            +button({text: "click me", type:"only-text", isDisabled:true})
            +button({text: "click me", type:"primary", isDisabled:true})
            +button({text: "click me", type:"secondary", isDisabled:true})

            +checkbox({name:"checkbox", id:"checkbox1", text: "Можно пригласить гостей (до 10 человек)"})
            +radio-button({name:"radio", id:"radio1", text: "Мужчина"})
            +radio-button({name:"radio", id:"radio2", text: "Женщина"})
            +toggle()


