mixin swatch({name, value, variant})
  - var color_swatch = "";
  - var types_title = ["dark100", "dark75", "dark50", "dark25", "dark5", "purple", "green"];

  - if (types_title.includes(variant)) { color_swatch += ` ${variant}` }


  .swatch__inner
    .swatch(class=color_swatch)
    .caption-swatch
      .name-color=name
      .value-color=value
