// .datepicker {
//     box-shadow: none;
//     border-radius: 0;
//     border: solid $dark50;
//     border-width: 0px 1px 1px 1px;
//     width: 100%;
//     max-width: 320px;
//     padding: 20px;
//     box-sizing: border-box;
// }
// .air-datepicker {
//     border-radius: 0;
//     width: 100%;
//     max-width: 320px;
//     padding: 20px;
//     box-sizing: border-box;
//     &.-inline- {
//         border-radius: 0;
//     }
.air-datepicker {
    &--navigation {
        padding: 0;
        margin: 0;
        @extend .H2;
    }
    &-nav {
        border: none;
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        box-sizing: border-box;
        min-height: 24px;
    }
    &-nav--action {
        @extend .icon-button;
        @extend .icon-button__m;
        color: $purple;
    }
    &-nav--action.-disabled- {
        visibility: visible;
    }
    &-nav--title {
        border-radius: 0;
        padding: 0;
        align-items: flex-start;
    }
    &--content {
        box-sizing: border-box;
        padding: 0;
    }
    &-body--day-names {
        margin: 30px 0 0 0;
    }
    &-body--day-name {
        @extend .H3;
        text-transform: capitalize;
        color: $purple;
        height: 40px;
    }
    //days numbers
    &-body--cells.-days- {
        @extend .body-text;
        color: $dark50;
        grid-auto-rows: 40px;
        font-size: 12px;
        line-height: 15px;
    }
    &-cell {
        &.-day-.-other-month- {
            color: $dark25;
        }
        &-day- {
            color: $dark50;
        }
        &.-current- {
            background: $secondary-gradient;
            border-radius: 22px;
            color: white;
        }
        &.-range-from-:hover:before,
        &.-range-to-:hover:before {
            content: "";
        }
        &.-range-from-:before,
        &.-range-to-:before {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
        }
        &.-range-from-:before {
            background: linear-gradient(
                to right,
                transparent,
                rgba($purple, 0.25)
            );
        }
        &.-range-to-:before {
            background: linear-gradient(
                to left,
                transparent,
                rgba($purple, 0.25)
            );
        }
        &.-range-from-,
        &.-range-to-,
        &.-selected-,
        &.-selected-.-current-,
        &.-in-range-:hover,
        &.-current-.-in-range-:hover,
        &.-focus-,
        &.-selected-.-focus-,
        &.-current-.-focus- {
            color: white;
            background: $primary-gradient;
            border-radius: 22px;
            border: none;
        }
        &.-in-range- {
            background: rgba($purple, 0.25);
        }
        &.-current-.-in-range- {
            border-radius: 0;
            color: $dark50;
        }
        &.air-datepicker-cell.-disabled-,
        &.air-datepicker-cell.-disabled-.-focus- {
            background: transparent;
        }
    }
    &--buttons {
        border: none;
        padding: 0;
        margin-top: 20px;
    }
    &-buttons {
        display: flex;
        justify-content: space-between;
    }
    &-button {
        @extend .button;
        @extend .button__only-text;
        height: 15px;
    }
    &-button:hover,
    &-button:focus {
        background-color: transparent;
        color: $purple;
    }
}
