.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @extend .material-icons;
}
.icon-button__xl {
    width: 48px;
    height: 48px;
    font-size: 48px;
    line-height: 40.8px;
}
.icon-button__l {
    width: 44px;
    height: 44px;
}
.icon-button__m {
    width: 24px;
    height: 24px;
    line-height: 20.4px;
}
.icon-button__s {
    font-size: 10px;
    line-height: 8.5px;
    width: 20px;
    height: 20px;
}
.icon-button__gradient {
    background: $primary-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.icon-button__gray {
    color: $dark50;
}
.icon-button__light-gray {
    color: $dark25;
}
.icon-button__white {
    color: white;
}
