mixin icon-button({symbol, variant, size='large'})
    -
        let iconClass = "icon-button"
        let variants = ["white","purple","gray","light-gray"]
        let sizes = ["large", "small"]
        if (variants.includes(variant)) { iconClass+=` icon-button__${variant}` }
        if (sizes.includes(size)) { iconClass+=` icon-button__${size}` }

    div(class=iconClass)=symbol





