.list-counter {
    padding: 7px 7px 13px 15px;
}
.list-counter__items li:not(:first-child) {
    margin-top: 7px;
}
.list-counter__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list-counter__item-title {
    @extend .H3;
}
.list-counter__btn-inner {
    display: flex;
    align-items: center;
}
.list-counter__btn {
    color: $dark50;
    border: $border-gray;
    border-radius: 22px;
    cursor: pointer;
    font-size: 18px;
    line-height: 22px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-transform: none;
    padding: 3px;
}
.list-counter__btn-disabled {
    opacity: 0.5;
}
.list-counter__counter {
    @extend .H3;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-counter__confirmButtons {
    display: flex;
    margin-top: 19px;
    justify-content: space-between;
}
