//.slider-label__value выделить стиль
.slider__target {
    box-shadow: 0 0 0 0 $dark25 inset, 0 0 0 1px $dark25 inset;
    border: none;
    background: white;
    border-radius: 3px;
}
.slider__horizontal {
    height: 6px;
}
.slider__horizontal .slider__handle {
    background: $secondary-gradient;
    width: 12px;
    height: 12px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    box-shadow: none;
    right: -7px;
    top: -3px;
}
.slider__handle::after,
.slider__handle::before {
    display: none;
}
.slider__connect {
    background: $secondary-gradient;
}

.slider__inner {
    display: flex;
    flex-direction: column;
}
.slider__touch-area {
    border: 1px solid transparent;
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    width: auto;
    height: auto;
}
.slider__label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.slider-label__title {
    @extend .H3;
}
.slider-label__value {
    font-family: $monsterrat-regular;
    font-weight: 400;
    color: $dark50;
    font-size: 12px;
    line-height: 15px;
}
