@mixin icon_button__inner($color) {
    border: none;
    position: absolute;
    color: $color;
    right: 0;
    top: 0;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
@mixin icon_button(
    $icon_button,
    $width: 44px,
    $height: 44px,
    $font-size: 24px,
    $line-height: 24px
) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $width;
    height: $height;
    &:after {
        font-family: $icon-font;
        content: $icon_button;
        font-weight: normal;
        font-style: normal;
        font-size: $font-size;
        line-height: $line-height;
        text-transform: none;
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
        /* Support for IE. */
        font-feature-settings: "liga";
    }
}
