@import "../fonts/fonts.scss";

.H1 {
  font-family: $monsterrat-bold;
  color: $dark100;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
}

.H2 {
  font-family: $monsterrat-bold;
  color: $dark100;
  font-weight: 700;
  font-size: 19px;
  line-height: 23px;
}

.H3 {
  font-family: $monsterrat-bold;
  color: $dark100;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

body {
  font-family: $monsterrat-regular;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $dark75;
}

.material-icons {
  font-family: $icon;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

