//-длинный value
//-value и текст передавать как объект и циклом добавлять.
//-если открыт - нижний радиус 0
//- верх input, низ див или календарь  
//- запретить редактирование - ридонли
//-ul.dropdown__content - ul__dropdown-content
//-.dropdown__option_btn - button.
//- list-counter
include ../text-field/text-field
include ../list-counter/list-counter

mixin dropdown({name, id, state, title, value, isOpen})
    -
        let textFildOptions={
            id:id,
            name:name, 
            title:title, 
            value:value,
            variant: isOpen ? "focused" : " ",
            withButton:true, 
            variantButton: "gray", 
            symbolButton:"expand_more", 
            typeButton:"button",
        }

        let content = "dropdown__content"
        if (!!isOpen) {content+=" dropdown__content-unexpand"}

    .dropdown
        +text-field(textFildOptions)
        div(class=content)
            +list-counter

