//-длинный value (скрывать за точками)
//-если открыт - нижний радиус 0
//- как нибудь сделать универсальные кнопки сбросить и применить.
//- сбросить сбрасывает данные
//- Применить отправляет данные, скрывает контент, сбрасывает данные
//- запретить редактирование - ридонли
//-сложить инпут в инпут
//-dropdown
    если номер - то нижний бордер без скругления. 
    если открытый - выпадашка не поверх других блоков
include ../input/input
include ../list-counter/list-counter
include ../calendar/calendar

mixin dropdown({name, isOpen, content, value, title, variant, input, items})
    -
        input=input || {}
        let inputOptions={
            id:input.id,
            name:name, 
            title:title, 
            value:value,
            variant: isOpen ? "focused" : " ",
            withButton:true, 
            variantButton: "gray", 
            symbolButton:"expand_more", 
            typeButton:"button",
            readonly:true
        }

        let contentClass = "dropdown__content"
        let contentInnerClass = "dropdown__content-inner"
        if (!isOpen) {contentClass+=" dropdown__content-unexpand"}
        if(isOpen){contentClass+=" dropdown__content-expand"}
        if(!isOpen){contentInnerClass+=" dropdown__content-inner-closed"}

    .dropdown
        +input(inputOptions)
        div(class=contentInnerClass )
            div(class=contentClass data-content=content)
                if(variant==="counter")
                    +list-counter({forElement:"dropdown", items})
                if(variant==="calendar")  
                    +calendar


