include ../input/input
include ../list-counter/list-counter
include ../calendar/calendar

mixin dropdown({name, isOpen, title, placeholder, style})
    -
        let inputOptions={
            title:title, 
            variant: isOpen ? "focused" : " ",
            withButton:true, 
            button: {
                variantButton: "gray", 
                symbolButton:"expand_more", 
                typeButton:"button",
            },

            readonly:true,
            placeholder: placeholder,
            colorPlaceholder:"dark"
        }

        let contentClass = "dropdown__content"
        if(isOpen){contentClass+=" dropdown__content_opened"}
        if(!isOpen){contentClass+=" dropdown__content_closed"}


    .dropdown
        .dropdown__input(data-style = style)
            +input(inputOptions)
        div(class=contentClass)
            block



