//-длинный value (скрывать за точками)
//- плейсхолдер отдельно
//-dropdown
    если номер - то нижний бордер без скругления. 
//- isConfirmButton    
include ../input/input
include ../list-counter/list-counter
include ../calendar/calendar

mixin dropdown({name, isOpen, content, value, title, variant, dateRange, placeholder})
    -
        let inputOptions={
            title:title, 
            value:value,
            variant: isOpen ? "focused" : " ",
            withButton:true, 
            variantButton: "gray", 
            symbolButton:"expand_more", 
            typeButton:"button",
            readonly:true,
            placeholder: placeholder

        }

        let contentClass = "dropdown__content"
        let contentInnerClass = "dropdown__content-inner"
        if(!isOpen) {contentClass+=" dropdown__content-unexpand"}
        if(isOpen){contentClass+=" dropdown__content-expand"}
        if(!isOpen){contentInnerClass+=" dropdown__content-inner-closed"}

    .dropdown
        +input(inputOptions)
        div(class=contentInnerClass)
            div(class=contentClass )
                block


