//-длинный value
//-value и текст передавать как объект и циклом добавлять.
//-если открыт - нижний радиус 0
//-отделить низ от верха
//- верх input, низ див или календарь  
//- запретить редактирование
//-button.dropdown__button - плохое название

include ../text-field/text-field

mixin dropdown({name, id, state, title, value})

    .dropdown__inner
        +text-field({name:name, title:title, value:value})
        button.dropdown__button(type="button", onclick=`test(\"saysmth\")`).dropdown__button_icon_expand-more

    ul.dropdown__content
        li.dropdown__option
            span.dropdown__option_caption Взрослые
            .dropdown__option_btn_inner
                .dropdown__option_btn.dropdown__option_btn_disabled.dropdown__option_btn_minus -
                span.dropdown__option__counter 0 
                .dropdown__option_btn.dropdown__option_btn_plus +


    script
        include dropdown.js


