//-длинный value (скрывать за точками)
//-если открыт - нижний радиус 0
//- как нибудь сделать универсальные кнопки сбросить и применить.
//- сбросить сбрасывает данные
//- Применить отправляет данные, скрывает контент, сбрасывает данные
//- запретить редактирование - ридонли
//-сложить инпут в инпут
include ../text-field/text-field
include ../list-counter/list-counter
include ../calendar/calendar
mixin dropdown({name, isOpen, content, value, title, variant})
    -
        let textFildOptions={
            id:id,
            name:name, 
            title:title, 
            value:value,
            variant: isOpen ? "focused" : " ",
            withButton:true, 
            variantButton: "gray", 
            symbolButton:"expand_more", 
            typeButton:"button",
            readonly:true
        }

        let contentClass = "dropdown__content"
        if (!isOpen) {contentClass+=" dropdown__content-unexpand"}

    .dropdown
        +text-field(textFildOptions)
        .dropdown__content-inner
            div(class=contentClass data-content=content)
                if(variant==="counter")
                    +list-counter({forElement:"dropdown"})
                if(variant==="calendar")  
                    +calendar
    script
        include ../calendar/calendar.js

